*{
    font-family: 'Literata', serif;
}
#header{

    text-align: center;
    padding-top: 20px; 
    padding-bottom: 20px; 
    margin: 20px;
    background-color: whitesmoke;
    opacity: .65;
    height: 150px;
    border-radius: 20px;
}
body{
    background: url("wallpaper.jpg");
    /* To get image to fit properly to fill background: */
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 
#addTrain{
    background-color: whitesmoke;
    opacity: .7;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    width: 400px;
    padding: 10px;
}
#trainInfo{
    background-color: whitesmoke;
    opacity: .7;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    width: 650px;
    padding: 10px;
}
#addTrainBtn{
    background-color: green;
    align-content: center;
}
#clearTrainBtn{
    background-color: red;
}
h7{
    color: green;
}