*{
    font-family: 'Literata', serif;
}
#header{

    text-align: center;
    padding-top: 20px; 
    padding-bottom: 20px; 
    margin: 20px;
    background-color: whitesmoke;
    opacity: .65;
    height: 150px;
    border-radius: 20px;
}
body{
    background: url("wallpaper.jpg");
    /* To get image to fit properly to fill background: */
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 
#addTrain{
    background-color: whitesmoke;
    opacity: .9;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    width: 400px;
    padding: 10px;
}
#trainInfo{
    background-color: whitesmoke;
    opacity: .9;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    /* width: 700px; */
    padding: 10px;
}
#addTrainBtn{
    opacity: 1;
    background-color: grey;
    color: white;
    align-content: center;
}
#clearTrainBtn{
    opacity: 1;
    background-color: grey;
    color: white;
    align-content: center;
}
h7{
    color: green;
}